.footer {
  transition: height 0.25s ease-in;
  position: absolute;
  bottom: 0;
  height: 90px;
  padding: 10px;
  left: 0;
  right: 0;
  background: #848586; }
  .footer.ng-hide {
    height: 0; }

.currently_playing {
  margin-left: 15px; }
  .currently_playing .title {
    margin-bottom: 5px; }
  .currently_playing .controls i {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
    text-align: center; }

.row {
  margin-bottom: 15px; }

/*# sourceMappingURL=main.css.map */
