<!doctype html>
<html ng-app="picastApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="MainCtrl">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">picast</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#!">Home</a></li>
                    <!--<li><a ng-href="#!about">About</a></li>-->

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ng-view=""></div>
</div>

<div class="footer playbar" ng-show="status.loaded">
    <div class="container">
        <div class="pull-left">
            <img class="img-responsive hidden-xs" ng-src="{{status.currently_playing.thumbnail}}" style="height: 70px; width: 70px;"/>
        </div>
        <div class="pull-left currently_playing">
            <div class="title">{{status.currently_playing.title}}<br />
                {{ status.currently_playing.progress  | secondsToTime | date:'HH:mm:ss'}} /
                {{ status.currently_playing.duration  | secondsToTime | date:'HH:mm:ss'}}
            </div>
            <div class="controls">
                <i class="fa fa-2x fa-pause"ng-show="status.playing" ng-click="playerAction('pause')"></i>
                <i class="fa fa-2x fa-play" ng-show="!status.playing"  ng-click="playerAction('play')"></i>
                <i class="fa fa-2x fa-stop" ng-click="playerAction('stop')"></i>
                <i class="fa fa-2x fa-backward" ng-click="playerAction('backwards')"></i>
                <i class="fa fa-2x fa-forward"  ng-click="playerAction('forwards')"></i>
                <i class="fa fa-2x fa-volume-down" ng-click="playerAction('voldown')"></i>
                <i class="fa fa-2x fa-volume-up" ng-click="playerAction('volup')"></i>
            </div>
        </div>

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-socket-io/socket.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/services/socketservice.js"></script>
<script src="scripts/filters/secondstotime.js"></script>
<!-- endbuild -->
</body>
</html>
