<div class="row marketing">
  <div class="col-xs-12 col-md-5">
    <input type="text" class="form-control" ng-model="url" ng-value="'https://www.youtube.com/watch?v=arGXe281yao'"/>
    <br />
    <button ng-click="playUrl(url)" class="btn btn-success">Play!</button>
  </div>
</div>
